.ragisterContainer {
  background: #fff;
  max-width: 330px;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.ragisterContainer .title {
  font-size: 30px;
  font-weight: 600;
  color:#99004d;
}
/* .ragisterContainer .title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
} */
.ragisterContainer .input-box-Name {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.ragisterContainer .input-box-Name input {
  width: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.name {
  margin: 5px;
}
.gender {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  position: relative;
  font-weight: 600;
  font-size: large;
  color: #5e5e5e;
}

.ragisterContainer .input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.ragisterContainer .input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.ragisterContainer .underline::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.ragisterContainer .underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.ragisterContainer .input-box input:focus ~ .underline::after,
.ragisterContainer .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.ragisterContainer frm .button {
  margin: 40px 0 20px 0;
}
.ragisterContainer .input-box input[type="submit"] {
  background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.ragisterContainer .input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}
.ragisterContainer .option {
  font-size: 14px;
  text-align: center;
}
