body{
  box-sizing: border-box;
}
div.cardsDetails {
  display: inline-block;
  background-color:#0d3562;
}
div.cardsDetails:hover{
  background-color: white;
}

.cardsDetails {
  border: 1px solid white;
  box-shadow: 0 0 2px 0 white;
  border-radius: 10px;
  margin: 5px 5px 0px 10px;
  width: 30%;
  color: white;

}
.cardsDetails:hover{
  color: #0d3562;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.cardsDetails img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
